body {
    font-family:Arial, Helvetica, sans-serif;

}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding-left:120px;
    padding-right:110px;

}

.left-header {
    font-weight:900;
}

.right-header a {
    text-decoration:none;
    padding:8px;
    color:#F9FAF8;
    padding-right: 10px;
}

/*SECTION ONE*/

.section-one {
    display:flex;
    background-color:#1F2937;
    padding-top:90px;
    padding-bottom:90px;
    padding-left:120px;
    padding-right:120px;
    flex:1;
}

.left-sec1 h1 {
    color:#F9FAF8;
    margin:0;
}

.left-sec1 p {
    color: #E5E7EB;
    margin-top:0;
    margin-bottom:5px;
}

.left-sec1 button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;
    font-weight:500;
}

.right-sec1 img {
    height:auto;
    width:35em;
    background-color:#E5E7EB;
}

/*SECTION TWO*/

.section-two {
    margin-bottom:20px;
}

.section-two h2 {
    text-align:center;
    padding:10px;
}

.img-modal {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;;
}

.img-modal img {
    height:140px;
    width:170px;
    border:4px solid;
    border-color:#3882F6;
    margin-bottom:0px;
    border-radius: 10px;
}

.img-modal div {
    margin:20px;
    width:175px;
    justify-content:center;
}

.img-modal p {
    text-align:center;
    margin-top:0;
}

/*SECTION THREE*/

.section-three {
    background-color:#E5E7EB;
    padding:120px 180px;
}

.quote {
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    margin:0;
}

.thor {
    margin:0;
    color:#1F2937;
    text-align:right;
    padding-right:70px;
    font-weight:900;
}

/*SECTION FOUR*/

.section-four {
    background-color:#3882F6;
    margin:100px 140px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.lefttext-sec4 * {
    color:#F9FAF8;  
}

.call-sec4 {
    font-weight: 900;
    font-size:24px;
    margin-bottom:0;
    margin-left:60px;
    margin-top:40px;
}

.sub-sec4 {
    margin-top:0;
    margin-bottom:40px;
    margin-left:60px;
}

.button-sec4 {
    margin-right:60px;
    color:#F9FAF8;
    background-color:#3882F6;
    border:#F9FAF8 5px solid;
    border-radius: 10px;
    padding:4px 24px;
    font-size:18px;
}

/* FOOTER */

footer {
    background-color:#1F2937;
    color:#E5E7EB;
    text-align: center;
    padding:15px;
}

